nav{
    background-color: #3B5D50;
    display: flex;
    padding:  0 70px;
    gap: 680px;
    height: 90px;
    padding-top: 30px;
    color: #D9D9D9;
}

nav h2{
    font-size: 33px;
    font-weight: 600;
    padding-left: 30px;
}

nav .nav ul{
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
}

nav .nav ul li:hover{
    color: #2F2F2F;
}

nav .nav ul li:active{
    border-bottom: 3px solid #F9BF29;
}

.active_link {
    border-bottom: 3px solid #F9BF29;
}

nav .nav{
    display: flex;
    gap: 23px;
    margin-right: 30px;
}

nav .nav svg{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 5px;
}

nav .nav svg:hover{
    color: #000;
}
